.search-heading {
    text-align: left;
    font-size: 25px;
    font-style: initial;
}

.signUpButton {
    padding: 5px 20px;
    margin: 10px;
}

.loginButton {
    padding: 5px 20px;
    margin: 10px;
}

.myProfileButton {
    padding: 5px 13px;
    margin: 10px;
}

.logoutButton {
    padding: 5px 12px;
    margin: 10px;
}

.checkboxPosition {
    padding: 4px 1px;
}

.searchBar {

}

.searchButton {
    padding: 8px 3rem;
}

.viewAllUsers {
    padding: 5px 39px;
    margin: 10px;
}

.searchMenu {
    padding: 5px 12px;
    margin: 10px;
}

